@CHARSET "ISO-8859-1";
.textStyle{font-family: Trebuchet MS,Verdana, Arial, Helvetica, sans-serif; }

.signoutButton{
	color: white;
	font-weight: bold;
	background-color: transparent;
	border: none;
	cursor:pointer;
	font-text: 45px;
}

.tableButton{
	color:blue;
	font-weight: bold;
	background-color: transparent;
	text-decoration: underline;
	border: none;
	cursor: pointer;
	font-size: 45px;
}